body {
  text-align: center;
  /*background-color: gray;*/
  /*background-image: url('../red-wall.jpg');*/
  background-image: url('../black-forest-birdseye.jpg');
  /*background-image: url('../palm-reflections.jpg');*/
  background-size: cover;
}

html{
}

span{
  font-family: 'Comfortaa', cursive;
  color: orange;
}

h2{
  font-family: arial;
  font-size: 90px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  color: orange;
  /*text-transform: lowercase;*/
  font-family: 'Bungee Hairline', sans-serif;
}

h3{
color: white;
font-family: 'Trirong', cursive;
font-size: 40px;
margin-top: 0px;
padding-top: 0px;
margin-bottom: 10px;
}

hr{
  border-color: white;
  position: relative;
}

p{
  font-family: georgia;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 40px;
  color: white;
}

#section3 p{
  font-size: 20px;
}

#section0{
  background-size: cover;
}
#section1{

}
#section2{

}
#section3{

}
#section4{

}
.section{
  text-align: center;
  /*position: relative;*/

}

#headshot{
  height: 120px;
  border-radius: 100%;
  border: 1px solid white;
  padding: 5px;
}

.iconlinks{
  margin: 10px;
}

.navlogo{

}

.navlinks{
padding-right: 10px;
}

.navlink{
  color: lightgray;
  text-decoration: none;
}
.navlink:visited{
  text-decoration: none;
}
.navlink:hover{
  color: orange;
}

nav{
  display: flex;
  flex-direction: row;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  /*background: transparent;*/
  /*border-bottom: 2px solid orange;*/
  position: fixed;
  width: 100%;
}

/*span{
  font-size: 50px;
  color: orange;
}*/

.fadeIn{
  margin-bottom: auto;
  margin-top: 0px;
  padding-top: 0px;
  position: relative;
  /*border: 1px solid red;*/
}
.fadeIn span{
	animation: fadeEffect 12.5s linear infinite 0s;
	-ms-animation: fadeEffect 12.5s linear infinite 0s;
	-webkit-animation: fadeEffect 12.5s linear infinite 0s;
	/*color: #00abe9;*/
	opacity: 0;
	overflow: hidden;
	position: fixed;
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-left: -50%;
  margin-top: 0px;
}
.fadeIn span:nth-child(2){
	animation-delay: 2.5s;
	-ms-animation-delay: 2.5s;
	-webkit-animation-delay: 2.5s;
}
.fadeIn span:nth-child(3){
	animation-delay: 5s;
	-ms-animation-delay: 5s;
	-webkit-animation-delay: 5s;
}
.fadeIn span:nth-child(4){
	animation-delay: 7.5s;
	-ms-animation-delay: 7.5s;
	-webkit-animation-delay: 7.5s;
}
.fadeIn span:nth-child(5){
	animation-delay: 10s;
	-ms-animation-delay: 10s;
	-webkit-animation-delay: 10s;
}

/*FadeIn Animation*/
@-moz-keyframes fadeEffect{
	0% { opacity: 0; }
	5% { opacity: 0; -moz-transform: translateY(0px); }
	10% { opacity: 1; -moz-transform: translateY(0px); }
	25% { opacity: 1; -moz-transform: translateY(0px); }
	30% { opacity: 0; -moz-transform: translateY(0px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@-webkit-keyframes fadeEffect{
	0% { opacity: 0; }
	5% { opacity: 0; -webkit-transform: translateY(0px); }
	10% { opacity: 1; -webkit-transform: translateY(0px); }
	25% { opacity: 1; -webkit-transform: translateY(0px); }
	30% { opacity: 0; -webkit-transform: translateY(0px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@-ms-keyframes fadeEffect{
	0% { opacity: 0; }
	5% { opacity: 0; -ms-transform: translateY(0px); }
	10% { opacity: 1; -ms-transform: translateY(0px); }
	25% { opacity: 1; -ms-transform: translateY(0px); }
	30% { opacity: 0; -ms-transform: translateY(0px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
