html {
  background: url(vintage-music-white-sound.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*video#bgvid {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(vintage-music-white-sound.jpg) no-repeat;
  background-size: cover;
}*/

html, body {
    		height: 100%;
    		margin: 0;
    	}

section {
  min-height: 100%;
}

body {
  text-align: center; /*THE WHOLE BODY IS CENTERED FYI */
  margin: 30px;
  display: flex;
  flex-direction: column;
}

header {
  text-align: center;
  color: #000000;
  background-color: transparent;
  /*padding-left: 5%;*/
  font-family: 'quicksand', sans-serif;
}

main {
text-align: center;;
}

footer {
   text-align: center;
   font-size: 10px;
 }

.page {
  flex-wrap: nowrap;
  align-items: stretch;
  min-height: 100vh;
}


h1 {
  font-size: 60px;
  margin-bottom: 0px;
  text-transform: lowercase;
}

h2 {                     /*section headings*/
  font-size: 40px;
  /*margin-top: 0;*/
  color: gray;
  font-family: dosis;
  text-transform: lowercase;
}

h3 {                     /*title*/
  font-size: 40px;
  margin-top: 0;
  color: gray;
  font-weight: lighter;
  text-transform: lowercase;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center 1 1 auto;
  width: 90%;
  margin-bottom: 70px;
}

nav a {
  text-decoration: none;
  font-family: quicksand, sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #FFAA30;
  display: inline-block;
  margin: 0 auto;
}
 /*navbar {
   display: flex;
   flex-direction: row;
   align-content: center;
 }*/

p {
  width: 90%;
}

.bighead {
  display: flex;
  height: 200px; /*change this*/
  flex-direction: row;
  align-items: center;
  text-align: center;
  margin-top: 0px;
  margin-left: 10px;
}

.circular--square {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin: 0;
  vertical-align: middle;
}
